

.logo {
    height:auto;
    padding:20px;
    
}

.main-logo {
    width: 400px;
    height: auto;
    padding:20px;
}

.side-logo {
    width: 200px;
    height: auto;
}
body {
    overflow-x: hidden;
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    .jumbotron .row > div {
        margin-bottom: 1rem;
    }

    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}

.card {
    transition: all 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px #08feac;
}

.bg-gradient-dark {
    background: linear-gradient(to right, #1a1a1a, #2c2c2c);
}

.list-group-item-action:hover {
    background-color: #08feac !important;
}

.jumbotron {
    padding: 2rem;
}

.progress {
    background-color: #444;
}



.btn-signup {
    background-color: #08feac; 
    color: #1a1a1a;
    border-color: #08feac;
}

.btn-signup:hover {
    background-color: #039eac; 
    border-color: #000000;
}

.btn-login {
    background-color: #08feac; 
    color: #1a1a1a;
    border-color: #08feac;
}

.btn-login:hover {
    background-color: #039eac; 
    border-color: #000000;
}

.btn-moneyline {
    background-color: #08feac; 
    color: #1a1a1a;
    border-color: #08feac;
}

.btn-moneyline:hover {
    background-color: #039eac; 
    border-color: #000000;
}


.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  

.signika-Signika> {
  font-family: "Signika", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "GRAD" 0;
}